<footer class="bg-dark pt-4 mt-auto container-fluid">

    <div class="row border-bottom border-white pb-4 mb-2">

        <div class="col-md-7  px-4 mt-2">

            <h2 class="h4"><a href="{{ '/' | relative_url }}" class="text-white font-weight-normal">{{ site.title }}</a></h2>
        </div>

        <div class="col-md-5 mt-2 text-end">

           {% if site.organization-logo-nav %} <p class="text-end">
                <a href="{{ site.organization-link }}" target="_blank" rel="noopener">
                    <img id="footer-logo" class="img-fluid" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name }} home">
                </a>
            </p>
            {% endif %}
            <p class="text-white" id="footer-credits">
                <small><em>built with</em>
                    <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder">
                        <img src="{{ '/assets/img/collectionbuilder-logo.png' | relative_url }}" class="img-fluid" alt="CollectionBuilder logo" >
                    </a>
                </small>
            </p>

        </div>

    </div>

    <div class="col-md-12 text-center pt-3 pb-1">
        <p class="text-white">Last updated {{ site.time | date: '%Y' }}</p>
        <hr class="d-none d-sm-block">
        <p class="pl-3">
            <a class="social-icon" href="{{ site.facebook }}" title="Facebook Link" target="_blank" rel="noopener"><span class="social-icon-footer">{% include social-icon.html icon="Facebook" %}</span><span class="sr-only"></span></a>
            <a class="social-icon" href="{{ site.twitter }}" title="Twitter Link" target="_blank" rel="noopener"><span class="social-icon-footer">{% include social-icon.html icon="Twitter" %}</span><span class="sr-only"></span></a>
            <a class="social-icon" href="{{ site.instagram }}" title="Instagram Link" target="_blank" rel="noopener"><span class="social-icon-footer">{% include social-icon.html icon="Instagram" %}</span><span class="sr-only"></span></a>
    </p>
    </div>

</footer>