<div class="posts clearfix">
    <article class="post">    
      <a href="{{ site.baseurl }}/it-happened-in-hartford">
        <img src="{{ site.baseurl }}/objects/images" alt="link to it-happened-in-hartford">
    </a>
    </article>
</div>
<div class="posts clearfix">
    <article class="post">    
      <a href="{{ site.baseurl }}/it-happened-in-your-town">
        <img src="{{ site.baseurl }}/objects/images" alt="link to it-happened-in-your-town">
    </a>
    </article>
</div>
<div class="posts clearfix">
    <article class="post">    
      <a href="{{ site.baseurl }}/your-twain-house-story">
        <img src="{{ site.baseurl }}/objects/images" alt="link to your-twain-house-story">
    </a>
    </article>
</div>
<div class="posts clearfix">
    <article class="post">    
      <a href="https://marktwainhouse.org/edu/catching-up-with-the-clemenses/ ">
        <img src="{{ site.baseurl }}/objects/cuwtc.png" alt="link to catching-up-with-the-clemenses">
    </a>
    </article>
</div>
<div class="posts clearfix">
    <article class="post">    
      <a href="https://marktwainhouse.org/the-trouble-begins/">
        <img src="{{ site.baseurl }}/objects/ttb.png" alt="link to the-trouble-begins">
    </a>
    </article>
</div>
<div class="posts clearfix">
    <article class="post">    
      <a href="https://marktwainhouse.org/about/mark-twain/resources/ ">
        <img src="{{ site.baseurl }}/objects/ttb.png" alt="link to other-resources">
    </a>
    </article>
</div>