<div class="posts clearfix">
    <article class="post">    
      <a href="{{ site.baseurl }}/digital-exhibition">
        <img src="{{ site.baseurl }}/objects/images" alt="link to it-happened-in-hartford">
    </a>
    </article>
</div>
<div class="posts clearfix">
    <article class="post">    
      <a href="{{ site.baseurl }}/history-around-hartford">
        <img src="{{ site.baseurl }}/objects/images" alt="link to it-happened-in-your-town">
    </a>
    </article>
</div>
<div class="posts clearfix">
    <article class="post">    
      <a href="{{ site.baseurl }}/action-bound-history-hunts">
        <img src="{{ site.baseurl }}/objects/images" alt="link to your-twain-house-story">
    </a>
    </article>
</div>
<div class="posts clearfix">
    <article class="post">    
      <a href="{{ site.baseurl }}/your-twain-house-story">
        <img src="{{ site.baseurl }}/objects/images" alt="link to your-twain-house-story">
    </a>
    </article>
</div>