<style>
.grid-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
<div class="container my-4 grid-container">
  <div class="grid-item">It Happened In Hartford</div>
  <div class="grid-item">It Happened In Your Town</div>
  <div class="grid-item">Your Twain House Story</div>  
  <div class="grid-item">Catching Up with The Clemenses</div>
  <div class="grid-item">The Trouble Begins</div>
  <div class="grid-item">Other Resources</div>  
</div>