---
layout: page
---
<h1> {{ page. title }}</h1>

<div class="container my-4">
    {{ content }}
</div>
{% include js/toggle-js.html %}

    <div id="item-nav">
        <div class="d-none d-md-block">
            {%- if page.title == "Digital Exhibition" -%}
            <a href="{{ page.next | prepend: "/digital-exhibition/" }}" id="next-button" class="next btn btn-lg btn-secondary">&raquo;</a>
            
            {%- elsif page.title == "The House That Olivia Built" -%}
            <a href="{{ page.previous | prepend: "/" }}" id="back-button" class="previous btn btn-lg btn-secondary">&laquo;</a>
            <a href="{{ page.next | prepend: "/digital-exhibition/" }}" id="next-button" class="next btn btn-lg btn-secondary">&raquo;</a>

            {% else %}
            <a href="{{ page.previous | prepend: "/digital-exhibition/"}}" id="back-button" class="previous btn btn-lg btn-secondary">&laquo;</a>
            <a href="{{ page.next | prepend: "/digital-exhibition/" }}" id="next-button" class="next btn btn-lg btn-secondary">&raquo;</a>
            {% endif %}
        </div>
    </div>

<hr>

<div class="posts clearfix">
<h3> Visit related pages for {{ page.title }}</h3>
<br >
<br >
  {%- for grid in site.data.config-exhibit -%}
  {% if grid.parent == page.parent %}
<div class="card bg-light mb-3" style="width: 18rem;">
  <img class="card-img-top" src="{{ site.baseurl }}/objects/{{ grid.image }}" alt="image for {{ grid.title }}">
  <div class="card-body">
    {% if page.type == "landing" %}
    <h4 class="card-title"><a href="{{ site.baseurl }}/{{ grid.child }}">{{ grid.title }}</a></h4>
    {% else %}
        <h4 class="card-title"><a href="{{ site.baseurl }}/{{ grid.exhibit }}{{ grid.parent }}/{{ grid.child }}">{{ grid.title }}</a></h4>
  </div>
</div>
    </article>
    {% endif %}
  {% endfor %}
</div>