---
# Default home page with boxes providing collection stats
layout: page
---

<div class="row">
  <div class="col-md-8">
    <div>
    <h2>{{ page.title }}</h2>
    <h3>{{ page.author }}</h3>
    {% include index/carousel.html title="Related Items" height="300" %}
  </div>
      <div>{{ content }}</div>
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

    {% include index/objects.html %}

  </div>
</div>