---
# Default home page with boxes providing collection stats
layout: page
---

{%- assign items = site.data[site.metadata] | where_exp: 'item', 'item.location contains page.location' -%}
{% if page.location %}
{%- assign items = items | where_exp: 'item', 'item.location == page.location' -%}
{% endif %}
<div class="row">
  <div class="col-md-8">
    <div>
    <h2>{{ page.title }}</h2>
    <h3>{{ page.author }}</h3>
    {% include index/carousel.html title="Related Items" height="300" %}
  </div>
      <div>{{ content }}</div>
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

  </div>
</div>